:root {
  --cover-color:rgba(10, 10, 10)
}

.track_banner {
  background-color: var(--cover-color);
}

.track_banner_tint {
  height: 17.4rem;
  position: relative;

  color: white;
  background-color: rgba(0,0,0,.6);

  display: flex;
  justify-content: center;
}

.track_banner_totalInfo {
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 970px;

  background: rgba(0,0,0,.6);

  display: flex;
  justify-content: space-between;
}

.track_banner_leftInfo {
  width: 58%;
  display: flex;

  color: #9a9a9a;

  transform: translateX(-3%);

}

.track_banner_leftInfo_data{
  margin-left: 5px;
}

.track_banner_leftInfo_img img{
  box-sizing: border-box;
  border: 3px solid grey;

  transform: translateX(-3%);
}

.banner_title {
  color: #ffff64;
  font-size: 2.25em;
  margin-top: 10px;
}

.banner_band {
  font-size: 1.5em;
  margin-bottom: 10px;

  color: white;
}

.banner_data {
  color: #7d8fe8;
  padding-left: 5px;
}





.track_lyric_anno_wrapper {
  box-sizing: border-box;

  width: 970px;
  min-height: 100vh;
  margin: 0 auto;

  background-color: white;

  display: flex;

  height: auto;

  overflow-y: hidden;
}

.track_lyric_wrapper {
  font-family: 'Programme Light';
  box-sizing: border-box;

  white-space: pre-wrap;

  font-size: 1.15em;
  line-height: 1.7em;

  width: 135%;
  min-height: 100vh;
  margin: 0 auto;

  background-color: white;

  padding: 15px;
}

.track_anno_wrapper {
  font-family: 'Programme Light';
  box-sizing: border-box;

  white-space: pre-wrap;

  width: 970px;
  height: fit-content;
  max-height: 500px;
  margin: 0 auto;

  background-color: white;

  padding: 15px;

  position: relative;
  top: 0;
  right: -1000px;

  display: flex;
}
.display {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  right: 0px !important;
}

.annotation {
  display: flex;
  flex-direction: column;

  font-size: 1em;
  padding-top: 20px;
  line-height: 1.5em;
}
.annotation_header {
  padding-bottom: 20px;
  font-weight: bold;
}

.anno_arrow_wrapper {
  overflow-y: hidden;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-start;

  width: 50px;
}
.anno_arrow {
  position: relative;
  top: 0px;
  width: 40px;
  height: 2000px;
}
.annotation {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}



.highlight {
  background-color: #dddddd;
  padding: 4px 2px;
}
.highlight:hover{
  background-color:  #ffff64;
  cursor: pointer;
}
.highlight-yellow {
  background-color: pink;
  padding: 3px 0px 3px 0px;
}


/* @font-face {
  font-family: 'Programme Bold';
  src: url('./fonts/Programme/WOFF/Programme-Bold.woff') format('woff')
  url('./fonts/Programme/WOFF2/Programme-Bold.woff2') format('woff2')
} */

@font-face {
  font-family: 'Programme Light';
  src: url('../../fonts/Programme/WOFF/Programme-Light.woff') format('woff'),
  url('../../fonts/Programme/WOFF2/Programme-Light.woff2') format('woff2');
}
