/* TODO Add site wide styles */
body {
  font-family: 'Programme Regular';
  color: black;
  background-color: #f7f7f7;

  margin-top: 82px;
  margin-left: 0;
  margin-right: 0;

  font-feature-settings: 'ss07', 'ss08', 'ss11', 'ss12', 'ss15', 'ss16', 'ss18'
}

.black_background {
  background-color: black;
}


@font-face {
  font-family: "Programme Regular";
  src: url('./fonts/Programme/TTF/Programme-Regular.otf')
  /* src: url('./fonts/Programme/WOFF/Programme-Regular.woff') format('woff'); */
}

@font-face {
  font-family: 'Programme Bold';
  src: url('./fonts/Programme/WOFF/Programme-Bold.woff') format('woff')
  url('./fonts/Programme/WOFF2/Programme-Bold.woff2') format('woff2')
}
