nav {
  background-color: #ffff64;
  width: 100%;
  height: 41px;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 41px solid rgb(18, 18, 18);

  z-index: 2;
}

.form_bottom {
  border-bottom: 41px solid black
}

nav ul {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav li {
  list-style-type: none;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}

nav input {
  background-color: white;
  padding: 5px;

  font-size: 1.05em;
  color:black;

  border: none;

  height: 30px;
  width: 220px;
}

#nav_logo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  font-family: 'wedgie';
  font-family: 'strenuous';
  font-family: 'floorlight';
  font-family: 'disco3';
  font-family: 'Bungee';
  font-family: 'Astro';
}

#nav_login{
  font-size: 1em;
  padding: 5px;
}

#nav_signup{
  font-size: 1em;
  padding: 5px;
}


@font-face {
  font-family: 'Astro';
  src: url('../../fonts/astro/astro.ttf')
}

@font-face {
  font-family: 'Bungee';
  src: url('../../fonts/bungee/fonts/Bungee_Basic/Bungee-Regular.ttf')
}

@font-face {
    /* don't bold */
  font-family: 'disco3';
  src: url('../../fonts/disco-3/Disco3.ttf')
}

@font-face {
  font-family: 'floorlight';
  src: url('../../fonts/floorlight/Floorlight.ttf')
}

@font-face {
  font-family: 'strenuous';
  src: url('../../fonts/strenuous/strenuous\ 3d.ttf')
}

@font-face {
  font-family: 'wedgie';
  src: url('../../fonts/wedgie/Wedgie\ Regular.ttf')
}
